brotlipy
chardet
cmake
conda
conda-package-handling
dgl
fqdn
git-lfs
ipywidgets
isoduration
jsonpointer
jupyterlab
jupyterlab-language-pack-zh-cn
lit
lmdb
matplotlib
opencv-python
pip-chill
pynvml
pyopenssl
pysocks
sklearn
supervisor
tensorboard
tensorboardx
torchaudio
torchcontrib
torchvision
uri-template
wandb
webcolors
